@media (max-width:935px) {

    .sidebar {
        display: none;
    }

    .topo {
        width: 100%;
    }

    .menu-topo {
        width: 950px;
        margin-right: 20px;
    }

    .feed {
        justify-content: center;
    }
    
}

@media (max-width:614px) {

    .feed {
        margin: 54px 0 104px 0;
    }

    .topo {
        width: 100%;
    }
    
    .menu-topo {
        width: 100%;
    }

    .caixa-pesquisa {
        display: none;
    }

    .icones ion-icon:nth-child(2) {
        display: none;
    }

    .icones ion-icon:nth-child(3) {
        display: none;
    }

    .icones ion-icon:nth-child(4) {
        display: none;
    }

    .menu-stories {
        width: 100%;
        border-bottom: 1px solid #dbdbdb;
        border-top: 1px solid #dbdbdb;
        margin: 0 0 24px 0;
    }

    .seta-stories {
        display: none;
    }

    .coluna-posts {
        width: 100%;
    }

    
    .caixa-pesquisa {
        display: none;
    }

    .icone-mobile {
        display: initial;
    }

    .logo-mobile {
        display: initial;
    }

    .menu-topo div:nth-child(1) {
        display: none;
    }
    
    .icones ion-icon {
        margin-left: 0;
    }

    .linha-vertical {
        display: none;
    }

    .icones-nav {
        border: 1px solid #dbdbdb;
        background-color: #FFFFFF;
        display: flex;
        width: 100%;
        height: 54px;
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        align-items: center;
    }

    .icones-nav ion-icon {
        width: 20px;
        height: 20px;
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;
    }
    
}